# maven home path
maven.home=/usr/local/Cellar/maven/3.3.3/

# store project
repository.project=/Users/yuqingxia/ci-test/project/

# store compile report of project
repository.report=/Users/yuqingxia/ci-test/report/

pool.core=5
pool.max=10
pool.alive=10
pool.queue=20

